### @author <a href="https://github.com/xiaogithubooo">xxx</a> ##

# 后端相关忽略文件
/work-tongue-diagnosis-backend/.idea
/work-tongue-diagnosis-backend/.mvn
/work-tongue-diagnosis-backend/mvnw
/work-tongue-diagnosis-backend/mvnw.cmd
/work-tongue-diagnosis-backend/target
/work-tongue-diagnosis-backend/*.tar

# 前端相关忽略文件
/work-tongue-diagnosis-frontend/.idea
/work-tongue-diagnosis-frontend/.next/
/work-tongue-diagnosis-frontend/node_modules
/work-tongue-diagnosis-frontend/*.tar

